<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cheryl.petit">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Quizscore"></activity>
        <activity android:name=".Quizpage" />
        <activity android:name=".ActivityDetails" />
        <activity android:name=".Parkpage" />
        <activity android:name=".Hotelpage" />
        <activity android:name=".Hospitalpage" />
        <activity android:name=".Restaurantpage" />
        <activity android:name=".Salonpage" />
        <activity android:name=".Placepage" />
        <activity android:name=".user" />
        <activity android:name=".record" />
        <activity android:name=".search" />
        <activity android:name=".opinion">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="message/rfc822" />
            </intent-filter>
        </activity>

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:name="com.facebook.FacebookActivity" android:configChanges= "keyboard|keyboardHidden|screenLayout|screenSize|orientation" android:label="@string/app_name" />
        <activity android:name="com.facebook.CustomTabActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>



        <activity android:name=".addsupp" />
        <activity android:name=".addweight" />
        <activity android:name=".adddoc" />
        <activity android:name=".addcal" />
        <activity android:name=".petadd" />
        <activity android:name=".restaurant" />
        <activity android:name=".salon" />
        <activity android:name=".hospital" />
        <activity android:name=".hotel" />
        <activity android:name=".place" />
        <activity android:name=".park" />
        <activity android:name=".supp" />
        <activity android:name=".doc" />
        <activity android:name=".permeal" />
        <activity android:name=".daily" />
        <activity android:name=".Quiz" />
        <activity android:name=".pet" />
        <activity android:name=".homepage" />
        <activity android:name=".welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>